html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--primary-color);  
}

:root {
  --background-color: rgb(255, 255, 255);
  --primary-color: rgb(0, 0, 0);
  --accent-color: rgb(255, 72, 173);


  --lightPink: #E7D3CA;
  --darkPink: #DA8694;
  --lightGreen: #BEEBD6;
  --darkGreen: #80CBB3;

  --section-height: 100vh;
  --section-min-height: 400px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

section {
  min-height: var(--section-min-height);
  height: auto;
}

@media (min-height: 600px) {
  section {
    height: var(--section-height);
  }
}


@keyframes scale-welcome {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    display: flex;
  }
  
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  
  100% {
    -webkit-transform: scale(1);
    transform: scale(0);
    opacity: 1;
    display: none;
  }
}
@-moz-keyframes scale-welcome {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-welcome {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(0);
    opacity: 1;
  }
}


@-moz-keyframes scale-fluffy {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-fluffy {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-fluffy {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}



@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* @-moz-keyframes bg-color {
  0% {
    color: var(--background-color);
  }
  100% {
    color: var(--primary-color);
  }
};

@keyframes bg-color {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
@-webkit-keyframes bg-color {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
} */